/**
 * @name NSFWTAo
 * @author Godo
 * @version 3.0.0
 * @description nsfwtao
 * @source X
*/

@import url('https://DiscordStyles.github.io/DarkMatter/src/base.css');

/* Variables */
:root {
    --avatar-size: 32px;
    --background-image: url('https://i.pximg.net/img-master/img/2021/11/19/18/04/41/94231197_p1_master1200.jpg');
    --background-solid: #161921;
    --background-solid-dark: #101218;
    --background-solid-darker: #0c0e12;
    --accent: 37, 172, 232;
    --accent-alt: 29, 101, 134;
}
